*{border: 0; padding: 0; margin: 0;}

body{ 
  font-family: sans-serif;
  background-color: rgb(189, 187, 187);
  overflow-x: hidden;
}

main{
  display: flex;
}

.side-content{
  border: 5px solid rgb(47, 47, 221);
  width: 15%;
  height: 960px;
  background-color: rgb(47, 47, 221);
}

.dashboard{
  position: relative;
  width: 75%;
  display: flex;
  gap: 10px;
  margin: 15px 0 45px 25px;
  color: white;
  cursor: pointer;
}

.dashboard h1{
  margin-top: 3px;
}

.home{
  position: relative;
  width: 50%;
  display: flex;
  gap: 15px;
  margin: 0 0 20px 35px;
  color: white;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.home::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px; 
  width: 0;
  background: white ; 
  transition: width 0.3s ease;
}

.home:hover::after {
  width: 70%;
}

.profile{
  position: relative;
  width: 50%;
  display: flex;
  gap: 15px;
  margin: 0 0 20px 35px;
  color: white;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.profile::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.profile:hover::after{
  width: 75%;
}

.messages{
  position: relative;
  width: 50%;
  display: flex;
  gap: 15px;
  margin: 0 0 17.5px 35px;
  color: white;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.messages::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.messages:hover::after{
  width: 95%;
}

.history{
  position: relative;
  width: 50%;
  display: flex;
  gap: 15px;
  margin: 0 0 20px 35px;
  color: white;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.history::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.history:hover::after{
  width: 77%;
}


.tasks{
  position: relative;
  width: 50%;
  display: flex;
  gap: 15px;
  margin: 0 0 20px 35px;
  color: white;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.tasks::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.tasks:hover::after{
  width: 69%;
}

.communities{
  position: relative;
  width: 50%;
  display: flex;
  gap: 15px;
  margin: 0 0 70px 35px;
  color: white;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.communities::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.communities:hover::after{
  width: 117%;
}

.setting{
  position: relative;
  width: 50%;
  display: flex;
  gap: 15px;
  margin: 0 0 20px 35px;
  color: white;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.setting::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.setting:hover::after{
  width: 85%;
}

.support{
  position: relative;
  width: 50%;
  display: flex;
  gap: 15px;
  margin: 0 0 20px 35px;
  color: white;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.support::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.support:hover::after{
  width: 83%;
}

.privacy{
  position: relative;
  width: 50%;
  display: flex;
  gap: 15px;
  margin: 0 0 20px 35px;
  color: white;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.privacy::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.privacy:hover::after{
  width: 80%;
}


.main-content{
  width: 84%;
  height: 910px;
}

.first-header{
  border: 5px solid white;
  background-color: white;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container{
  display: flex;
  gap: 5px;
  cursor: pointer;
  padding-left: 100px;
}

.search-input{
  width: 200%;
  font-size: large;
  border-radius: 15px 15px 15px 15px;
  background-color: rgb(190, 188, 188);
}

.npm-container{
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 100px;
}


.profile-photo-container img{
  width: 45px;
  height: 45px;
  border-radius: 25px;
  object-fit: cover;
}

.name-container{
  font-size: large;
  font-weight: bold;
}


.second-header{
  border: 5px solid white;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 75px;
}

.pg-container{
  display: flex;
  gap: 10px;
  padding-left: 100px;
}

.pfp-container img{
  width: 75px;
  height: 75px;
  border-radius: 40px;
  object-fit: cover;
}

.greet-container p{
  font-weight: bold;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 27px;
  padding-right: 100px;
}

.buttons button{
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.buttons button:hover{
  background-color: rgb(55, 55, 240);
  transition: 0.3s ease;
}


.titles{
  border: 5px solid rgb(189, 187, 187);
  display: flex;
  justify-content: space-between;
  background-color: rgb(189, 187, 187);
  width: 100%;
  height: 50px;
  align-items: center;
  font-weight: bold;
  font-size: large;
}

.your-projects{
  padding-left: 25px;
}

.announcements{
  padding-right: 235px;
}


.pa{
  border: 5px solid rgb(189, 187, 187);
  width: 100%;
  display: flex;
  background-color: rgb(189, 187, 187);
}

.projects{
  border: 5px solid rgb(189, 187, 187);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0px 0px 0px 20px;
  width: 100%;
  height: 675px;
}

.box-info{
  background-color: white;
  width: 90%;
  height: 250px;
  border-radius: 1dvh;
  box-shadow: -7px 0px 0px 0px orange;
}

.project-content{
  padding: 25px 0px 0px 15px;
}

.project-content p{
  color: rgb(71, 71, 71);
}

.bss{
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  padding: 40px 40px 0px 0px;
  cursor: pointer;
}


.announce{
  border: 5px solid rgb(189, 187, 187);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0px 75px 0px 0px;
  width: 25%;
  height: 675px;
}

.announce h5{
  padding: 20px 0px 0px 30px;
}

.announce p{
  font-size: small;
  padding: 0px 0px 0px 30px;
  color: rgb(71, 71, 71)
}

.announce hr{
  width: 90%; 
  border: 1px solid grey; 
  margin: 0px 10px 0px 10px;
}

.announce1{
  border: 5px solid white;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.announce2{
  border: 5px solid white;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.announce3{
  border: 5px solid white;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-announce{
  background-color: white;
  width: 100%;
  height: 300px;
  border-radius: 1dvh;
}


.box-announce p{
  color: rgb(71, 71, 71)
}

.pf-container{
  padding: 10px 0px 0px 15px;
}

.pf-container img{
  width: 55px;
  height: 55px;
  border-radius: 50px;
  object-fit: cover;
}

.trending1{
  border: 5px solid white; 
  height: 65px;
  display: flex;
}

.trending2{
  border: 5px solid white; 
  height: 65px;
  display: flex;
}
.trending3{
  border: 5px solid white; 
  height: 65px; 
  display: flex;
}

.trending4{
  border: 5px solid white; 
  height: 65px; 
  display: flex;
}

    
  @media (max-width: 1400px) {
    .side-content{
        height: 1100px;
    }

    .pa{
      height: 775px;
    }

    .side-content > div{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .projects > div{
      margin: 3px;
    }
  }

  @media (max-width: 1200px) {
    .side-content{
      width: 20%;
      height: 1755px;
    }

    .home{
      margin: 0px 0px 20px 18px;
    }

    .profile{
      margin: 0px 0px 20px 20px;
    }

    .messages{
      margin: 0px 0px 20px 35px;
    }

    .history{
      margin: 0px 0px 20px 25px;
    }

    .tasks{
      margin: 0px 0px 20px 18px;
    }

    .communities{
      margin: 0px 0px 70px 53px;
    }

    .setting{
      margin: 0px 0px 20px 30px;
    }

    .support{
      margin: 0px 0px 20px 29px;
    }

    .privacy{
      margin: 0px 0px 20px 26px;
    }

    .search-input{
      width: 100%;
    }

    .search-container{
      padding-left: 25px;
    }

    .npm-container{
      padding-right: 25px;
    }

    .pg-container{
      padding-left: 5px;
    }

    .buttons{
      padding-right: 5px;
    }

    .projects{
      grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    }

    .announcements{
      padding-right: 170px;
    }
  }

  @media (max-width: 992px) {
    .side-content{
      display: none; 
    }

    .first-header , .second-header{
      width: 118%; 
    }

    .projects{
      grid-template-columns: repeat(auto-fit,minmax(318px, 1fr));
    }

    .announce{
      width: 15%;
    }
      
    .pg-container {
      padding-left: 20px; 
    }
      
    .buttons {
      padding-right: 20px; 
    }

    .announcements{
      padding-right: 50px;
    }
  }

  @media (max-width: 768px) {
    .announce{
      width: 20%;
    }
  }

  @media (max-width: 576px) {
    .search-input{
      width: 60%;
    }

    .pfp-container img{
      width: 40px;
      height: 40px;
    }

    .greet-container{
      font-size: small;
    }

    .buttons button{
      padding: 10px;
    }

    .box-info{
      width: 90%;
    }

    .projects{
      width: 60%;
    }

    .announcements{
      padding-right: 7px;
    }

    .box-announce{
      width: 80%;
    }

    .bss{
      padding: 12px 12px 0px 0px;
    }

    .bss img{
      width: 7%;
    }
  }